name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        BUILD_TYPE: ["Debug"]
        os: [ windows-latest ]
    steps:
    - uses: actions/checkout@v5

    # needed for midl.exe
    - name: Setup MSVC shell
      uses: ilammy/msvc-dev-cmd@v1

    - name: Show cmake version
      run: cmake --version

    - name: Install rust stable
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: 1.92.0
        components: rustfmt, clippy

    - name: install protoc
      uses: taiki-e/install-action@protoc

    - name: run cmake
      run: > 
        cmake . -DCMAKE_BUILD_TYPE=${{ matrix.BUILD_TYPE }} -B build

    # rust build relies on cmake fetch deps.
    - name: Run cargo check
      run: cargo check

    - name: Run cargo fmt
      run: cargo fmt --all -- --check
    
    - name: Run cargo clippy
      run: cargo clippy --all-targets -- -D warnings   

    - name: run build
      run: |
        cmake --build build --config ${{ matrix.BUILD_TYPE }}

    # cpp tests
    - name: run cmake test
      run: ctest -C ${{ matrix.BUILD_TYPE }} --test-dir build --verbose --repeat until-pass:3 --timeout 30 --output-on-failure

    # mysql bin has conflicting dlls with fabric than prevents fabric from starting
    - name: Remove conflict dll paths
      shell: powershell
      run: |
        get-command libprotobuf.dll | format-list
        Remove-Item -Recurse -Force "C:\Program Files\MySQL\MySQL Server 8.0\bin"

    - name: start sf cluster
      shell: pwsh
      run: |
        Powershell.exe -File "C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup\DevClusterSetup.ps1"
        Start-Sleep -Seconds 20
        Connect-ServiceFabricCluster
      
    - name: provision apps
      run: |
        Powershell.exe -File scripts/rcstore_ctl.ps1 -Action Add
        Powershell.exe -File scripts/kvmap_ctl.ps1 -Action Add
        Start-Sleep -Seconds 30
      shell: pwsh
    # todo: may need to sleep to wait for app to be up. but test compilation may take some time.

    - name: run all unittests
      run: cargo test --all
      env:
        RUST_BACKTRACE: '1'

    - name: run rcstore cli
      shell: pwsh
      run: |
        $ErrorActionPreference = "Stop"
        .\scripts\rccli.ps1 -action List